[MQTT_BrokerConfig]
MQTTHost=localhost
MQTTPort=1883

# MQTT_ClientId MUST be unique to the broker
# In other words, no other client on the broker may use the same client id
# If not specified, one will be generated for you.
MQTT_ClientId=door_controller_13579bdf

#   If MQTT_UseAuthentication is True,
# MQTT_User and MQTT_Password must be specified
MQTT_UseAuthentication=True

MQTT_User=username
MQTT_Password=password

# If MQTT_UseSSL is True, MQTT_PortSSL must be specified
MQTT_UseSSL=False
MQTT_PortSSL=8883

[MQTT_TopicConfig]
MQTT_TOPIC_ToggleDoorState=the/topic/to/subscribe/for/requests/to/toggle/door
MQTT_TOPIC_ReportDoorState=the/topic/to/publish/changes/in/door/state

# Uses broadcom (GPIO.BCM) pin numbering
[GPIO_Config]
# The GPIO pin used to control the state of the door control relay
DoorControlOutputPin=4

# The GPIO pin used to read the state of the door open sensor
DoorOpenSensorInputPin=14
# The GPIO pin used to read the state of the door closed sensor
DoorClosedSensorInputPin=15

[GPIO_ActiveStates]
# DoorControlOutputActiveValue
# The door is assumed to be triggered by briefly closing an activation circuit

#   This value should correspond to the output state where
# the trigger circuit is closed

#   The relay will be put into the state specified by DoorControlOutputActiveValue for
# the length of time (in seconds) specified by DoorControlOutputActiveDelay

# True, False; HIGH, LOW; 1, 0
# Default = HIGH
DoorControlOutputActiveValue=HIGH

# Delay time specified in seconds
# Default = 0.1
DoorControlOutputActiveDelay=0.1

# True, False; HIGH, LOW; 1, 0
# Default = HIGH
DoorOpenSensorInputActiveValue=HIGH

# True, False; HIGH, LOW; 1, 0
# Default = HIGH
DoorClosedSensorActiveValue=HIGH