[MQTTBrokerConfig]
# Hostname of mqtt broker
mqtt_host=localhost
# Port to connect to mqtt broker (NON SSL)
mqtt_port=1883

# mqtt_client_id MUST be unique to the broker
# In other words, no other client on the broker may use the same client id
# If not specified, one will be generated for you.
# REMEMBER TO CHANGE THIS IF RUNNING MULTIPLE INSTANCES ON THE SAME BROKER
# You are advised to choose a client id or the client id will change with each program start
mqtt_client_id=door_de9121c346f3f9beafb88344f4b6c3c5

#   If mqtt_use_authentication is True,
# mqtt_username and mqtt_password must be specified
mqtt_use_authentication=True

mqtt_username=username
mqtt_password=password

# If mqtt_use_ssl is True, mqtt_port_ssl must be specified
mqtt_use_ssl=False
mqtt_port_ssl=8883

[MQTTTopicConfig]
mqtt_topic_toggle_door_state=the/topic/to/subscribe/for/requests/to/toggle/door
mqtt_topic_report_door_state=the/topic/to/publish/changes/in/door/state

# Uses broadcom (GPIO.BCM) pin numbering
[GPIOConfig]
# The GPIO pin used to control the state of the door control relay
door_control_output_pin=4

# The GPIO pin used to read the state of the door open sensor
door_open_sensor_input_pin=14
# The GPIO pin used to read the state of the door closed sensor
door_closed_sensor_input_pin=15

[GPIOActiveStates]
# door_control_output_active_value
# The door is assumed to be triggered by briefly closing an activation circuit

#   This value should correspond to the output state where
# the trigger circuit is closed

#   The relay will be put into the state specified by door_control_output_active_value for
# the length of time (in seconds) specified by door_control_output_active_delay

# True, False; HIGH, LOW; 1, 0
# Default = HIGH
door_control_output_active_value=HIGH

# Delay time specified in seconds
# Default = 0.1
door_control_output_active_delay=0.1

# True, False; HIGH, LOW; 1, 0
# Default = HIGH
door_open_sensor_input_active_value=HIGH

# True, False; HIGH, LOW; 1, 0
# Default = HIGH
door_closed_sensor_active_value=HIGH